@import '../../../../colors.scss';
@import '../../../../mixins.scss';

.recipe-item ::ng-deep.ant-card-body {
    display: flex;
    height: 200px;
    padding: 0 12px 0 0;

    img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .recipe-image-container {
        flex: 1 1 30%;
    }

    .recipe-details {
        flex: 1 1 70%;
        margin-left: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            color: $red;
            margin: 0;
        }

        p {
            @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: white);  
        }
    }
}