@import '../../colors.scss';

header {
    background: $teal;
    height: 108px;
    border-bottom: 15px solid $darkRed;
    box-shadow: grey 0 5px 10px;

    .logo {
        max-height: 108px;
    }
}
